# 임시로 비활성화된 테스트 파일들 (컴파일 오류 수정 중)
debug_scenarios.dart.disabled
fermenter_guide_manager_test.dart.disabled
user_guide_system_test.dart.disabled
modular_calculator_test.dart.disabled
integration/drag_drop_integration_test.dart.disabled
fermentation_notification_integration_test.dart.disabled
models/recipe_test.dart.disabled
run_phase2_tests.dart.disabled